@charset "utf-8";

html {scroll-behavior: smooth;}

body {font-family: 'Gowun Batang', serif; font-size: 100%; line-height: 1.5; color: #193B0A;}

.inner {max-width: calc( 100% - 10.416% ) ; margin: 0 auto;}

#wrap {overflow-x: hidden;} /* 가로축에서 벗어나는 것이 보이지 않도록 */

/* header */

#header {position: absolute; left: 0; top: 0; width: 100%; z-index: 10;}

#header h1 {position: absolute; left: 50%; transform: translateX(-50%);}

#header .inner {height: 100px; display: flex; justify-content: space-between; align-items: center;}

/* header gnb */

#header .gnb > li {float: left;}
#header .gnb > li > a {display: block; font-size: 20px; color: #193B0A; padding: 10px 30px;}

/* header gnb depth2 */

#header .depth2 {background: #193B0A; position: absolute; padding: 0 20px;}
#header .depth2 > li {float: left;}
#header .depth2 > li > a {display: block; color: white; padding: 5px 15px;}

#header .gnb> li:nth-child(3) .depth2 {transform: translateX(-120px);}

#header .gnb> li:last-child .depth2 {transform: translateX(-120px);}



/* ham */

#header .ham {display: none; cursor: pointer;}
@media all and (max-width:1200px){
    #header .gnb {display: none;}
    #header .member_menu {display: none;}
    #header .ham {display: block;}
    #header .inner {justify-content: flex-end;}
    #header h1 {z-index: 55;}
}

/* mgnb */

#header .mgnb_wrap {position: fixed;
    left: 100%; top: 0;
    width: 100%; height: 100%;
    background: #F5EBDF;
    padding: 100px 5.208% 0;}

#header .mgnb_wrap .mgnb {border-top: 1px solid #A78D6F;}
#header .mgnb_wrap .mgnb > li {border-bottom: 1px solid #A78D6F;}
#header .mgnb_wrap .mgnb > li > a {display: block; font-size: 25px; padding: 20px 0; color: #193B0A;}
#header .mgnb_wrap .mgnb .mdepth2 {padding: 0 0 20px;}
#header .mgnb_wrap .mgnb .mdepth2 li a {position: relative;
                                        color: #193B0A;
                                        font-size: 15px;
                                        display: block;
                                        padding: 3px 15px;}
#header .mgnb_wrap .mgnb_close {cursor: pointer; position: absolute; right: 5.208%; top: 35px;}

/* header member_menu */

#header .member_menu .member > li  {float: left; padding-right: 30px;}
#header .member_menu .member > li > a {display: block; font-size: 20px;}

/* main_visual */

#main_visual {background: url(../images/sub_seoul_main_bg_1.png) no-repeat; background-size: cover; height: 800px;}
#main_visual .inner {height: 800px; position: relative; }
#main_visual p {font-size: 40px; color: black;}
#main_visual .mv_txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
#main_visual .mv_txt span {font-size: 45px; color: #193B0A; font-weight: 600;}

@media all and (max-width:1200px){
    #main_visual p {font-size: 30px;}
    #main_visual .mv_txt span {font-size: 35px;}
    #main_visual .mv_txt {width: 100%;}
}


/* container */

#container h2 {text-align: center; padding-bottom: 100px; font-size: 40px;}
#container h2:before {content: 'Seoul Jangsoo Since 1962 '; font-size: 14px; color: #193B0A; display: block; letter-spacing: -1px;}


/* overview */

#overview {padding: 100px 0;}
#overview .ov_list_btn li { text-align: center;}
#overview .ov_list_btn li .thumb_box { display: inline-block; background: #F5EBDF; border-radius: 50px 0; padding: 31px 83px; }
#overview .ov_list_btn li:hover img {transform: scale(1.1, 1.1);}
#overview .ov_list_btn li img {width: 85px; height: 288px; transition: transform 1s;}

#overview .inner {max-width: calc(100% - 30%);}
#overview .ov_2 {margin-top: 100px;}
#overview .ov_2 .ov_list li .list_1 {background: linear-gradient(rgb(245, 235, 223,0.2) 80%,rgb(245, 235, 223)); width: 100%; padding: 50px 0; border-radius: 50px; display: flex; justify-content: space-evenly; align-items: center;}
#overview .ov_2 .ov_list li .list_1 img {width: 350px; height: 350px;}
#overview .ov_2 .ov_list li .list_1 p {font-size: 20px; line-height: 2; letter-spacing: -1.5px;}

#overview .ov_2 .ov_list li .list_2 {background: url(../images/sub_slide_bg_1.png); width: 100%; padding: 50px 0; border-radius: 50px; display: flex; justify-content: space-evenly; align-items: center; margin-top: 100px;}
#overview .ov_2 .ov_list li .list_2 img {width: 104px; height: 350px;}
#overview .ov_2 .ov_list li .list_2 p {font-size: 20px; line-height: 2; letter-spacing: -1px; text-align: end;}
#overview .ov_2 .ov_list li .list_2 p a {display: block; margin-top: 30px; font-size: 15px; border: #193B0A 1px solid; padding: 10px 15px; border-radius: 5px; width: 150px; text-align: center; float: right;}
#overview .ov_2 .ov_list li .list_2 p a:hover {background: #193B0A; color: white; transition: 0.5s;}

#overview .ov_1 .ov_list_btn li.slick-current img {transform: scale(1.1, 1.1)}

@media all and (max-width:1200px){
    #overview .ov_list_btn li { text-align: center;}
    #overview .ov_list_btn li .thumb_box { display: inline-block; background: #F5EBDF; border-radius: 50px 0; padding: 20px 50px; }
    #overview .ov_list_btn li:hover img {transform: scale(1.1, 1.1);}
    #overview .ov_list_btn li img {width: 78px; height: 250px; transition: transform 1s;}

    #overview .ov_2 .ov_list li .list_1 {background: #F5EBDF; width: 100%; padding: 50px 0; border-radius: 50px; display: flex; justify-content: space-evenly; align-items: center;}
    #overview .ov_2 .ov_list li .list_1 img {width: 300px; height: 300px;}
    #overview .ov_2 .ov_list li .list_1 p {font-size: 17px; line-height: 2; letter-spacing: -1.5px;}
    #overview .ov_2 .ov_list li .list_2 {background: #F5EBDF; width: 100%; padding: 50px 0; border-radius: 50px; display: flex; justify-content: space-evenly; align-items: center; margin-top: 100px;}
    #overview .ov_2 .ov_list li .list_2 img {width: 78px; height: 250px;}
    #overview .ov_2 .ov_list li .list_2 p {font-size: 20px; line-height: 2; letter-spacing: -1px; text-align: end;}
}

@media all and (max-width:768px){
    #overview .ov_list_btn li { text-align: center;}
    #overview .ov_list_btn li .thumb_box { display: inline-block; background: #F5EBDF; border-radius: 30px 0; padding: 15px 30px;}
    #overview .ov_list_btn li:hover img {transform: scale(1.1, 1.1);}
    #overview .ov_list_btn li img {width: 50px; height: 160px; transition: transform 1s;}

    #overview .ov_2 .ov_list li {position: relative;}

    #overview .ov_2 .ov_list li .list_1 {background: #F5EBDF; width: 100%;  padding: 50px 0; border-radius: 50px; height: 500px;}
    #overview .ov_2 .ov_list li .list_1 img {position: absolute; top: 50px; left: 50%; transform: translateX(-50%); width: 250px; height: 250px;}
    #overview .ov_2 .ov_list li .list_1 p {font-size: 10.5px; line-height: 1.5; letter-spacing: -1px; text-align: center; position: absolute; top: 330px;  left: 50%; transform: translateX(-50%); width: 100%; height: 120px;}
    #overview .ov_2 .ov_list li .list_2 {background: #F5EBDF; width: 100%;  padding: 50px 0; border-radius: 50px; height: 530px; margin-top: 50px;}
    #overview .ov_2 .ov_list li .list_2 img {width: 68px; height: 240px; position: absolute; top: 580px; left: 50%; transform: translateX(-50%);}
    #overview .ov_2 .ov_list li .list_2 p {font-size: 15px; line-height: 2; letter-spacing: -1px; text-align: center; position: absolute; bottom: 30px;  left: 50%; transform: translateX(-50%); width: 100%;}
    #overview .ov_2 .ov_list li .list_2 p a {margin: 10px auto 0; font-size: 10px; display: block; border: #193B0A 1px solid; padding: 5px 5px; border-radius: 5px; width: 100px; text-align: center; float: none;}
}


/* footer */

#footer {padding: 50px 0; background: #F5EBDF;}
#footer .inner {width: 1200px; display: flex; justify-content: space-between; flex-wrap: wrap; align-items: center;}
#footer .footer_logo img {width: 100px; height: 100px;}
#footer .footer_txt address {padding-top: 10px;}

#footer .footer_sns li {display: inline-block; margin-left: 10px;}
#footer .footer_sns li:first-child {margin-left: 0;}
#footer .footer_sns img {padding: 10px; }

@media all and (max-width:1200px){
    #footer {text-align: center;}
    #footer .footer_logo {width: 100%;}
    #footer .footer_txt {width: 100%; padding: 20px 0;}
    #footer .footer_sns {width: 100%;}
}

@media all and (max-width: 450px){
    #footer .footer_txt {font-size: 12px;}
}

/* gotop */

.gotop {display: block; 
    width: 50px; height: 50px; 
    position: fixed; 
    right: 10px; bottom: 50px; 
    font-size: 0;
    background: #A78D6F url(../images/gotop.png) no-repeat center center;
    border-radius: 50px;}



/* jangsoo_info css */

#container .info_title {padding: 100px 0 0; font-size: 80px;}

#main_visual_2 {background: url(../images/sub_seoul_main_bg_2.png) no-repeat; background-size: cover; height: 800px;}
#main_visual_2 .inner {height: 800px; position: relative; }
#main_visual_2 p {font-size: 40px; color: black;}
#main_visual_2 p .none {display: none;}
#main_visual_2 .mv_txt_2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
#main_visual_2 .mv_txt_2 span {font-size: 45px; color: #193B0A; font-weight: 600;}

@media all and (max-width:1200px){
    #main_visual_2 p {font-size: 30px;}
    #main_visual_2 .mv_txt_2 span {font-size: 35px;}
    #main_visual_2 .mv_txt_2 {width: 100%;}
}

@media all and (max-width:500px){
    #main_visual_2 p {font-size: 25px;}
    #main_visual_2 p .none {display: block;}
    #main_visual_2 .mv_txt_2 span {font-size: 35px;}
    #main_visual_2 .mv_txt_2 {width: 100%;}
}

/* overview */

#overview_2_1 {padding: 150px 0;}
#overview_2_1 .inner {flex-wrap: wrap; display: flex; max-width: calc(100% - 20.833%); align-items: center; justify-content: space-evenly;}
#overview_2_1 .inner > div {width: calc(100%/2);}
#overview_2_1 .overview_txt {text-align: justify;}
#overview_2_1 .overview_txt .kr {color: #808080; font-size: 18px; letter-spacing: -1px;}
#overview_2_1 .overview_txt .en {color: #a0a0a0; font-size: 14px; padding: 30px 0 20px;}
#overview_2_1 .overview_img {text-align: center;}
#overview_2_1 .overview_img img {width: 500px; height: 500px; border-radius: 50px;}

@media all and (max-width:1200px){
    #overview_2_1 .inner > div {width: 100%;}
    #overview_2_1 .overview_txt {text-align: center; padding-bottom: 50px;}
    #overview_2_1 .overview_img img {width: 100%; height: 100%; border-radius: 50px;}
}

@media all and (max-width:500px){
    #overview_2_1 {padding: 100px 0;}
    #overview_2_1 .none {display: none;}
    #overview_2_1 .overview_txt .kr {font-size: 14px;}
    #overview_2_1 .overview_txt .en {font-size: 10px;}
}

#overview_2_2 {padding: 0 0 150px;}
#overview_2_2 .inner {flex-wrap: wrap; flex-direction: row; display: flex; max-width: calc(100% - 20.833%); align-items: center; justify-content: space-evenly;}
#overview_2_2 .inner > div {width: calc(100%/2);}
#overview_2_2 .overview_txt {text-align: justify;}
#overview_2_2 .overview_txt .kr {color: #808080; font-size: 18px; letter-spacing: -1px;}
#overview_2_2 .overview_txt .en {color: #a0a0a0; font-size: 14px; padding: 30px 0 20px;}
#overview_2_2 .overview_img {text-align: center;}
#overview_2_2 .overview_img img {width: 500px; height: 500px; border-radius: 50px;}

@media all and (max-width:1200px){
    #overview_2_2 .inner {flex-direction: column-reverse;}
    #overview_2_2 .inner > div {width: 100%;}
    #overview_2_2 .overview_txt {text-align: center; padding-bottom: 50px;}
    #overview_2_2 .overview_img img {width: 100%; height: 100%; border-radius: 50px;}
}

@media all and (max-width:500px){
    #overview_2_2 {padding: 100px 0;}
    #overview_2_2.none {display: none;}
    #overview_2_2 .overview_txt .kr {font-size: 14px;}
    #overview_2_2 .overview_txt .en {font-size: 10px;}
}


/* jangsoo_word css */

#main_visual_3 {background: url(../images/sub_seoul_main_bg_3.png) no-repeat; background-size: cover; height: 800px;}
#main_visual_3 .inner {height: 800px; position: relative; }
#main_visual_3 p {font-size: 40px; color: black;}
#main_visual_3 p .none {display: none;}
#main_visual_3 .mv_txt_3 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
#main_visual_3 .mv_txt_3 span {font-size: 60px; color: #193B0A; font-weight: 600;}

@media all and (max-width:1200px){
    #main_visual_3 p {font-size: 30px;}
    #main_visual_3 .mv_txt_3 span {font-size: 35px;}
    #main_visual_3 .mv_txt_3 {width: 100%;}
}

@media all and (max-width:500px){
    #main_visual_3 p {font-size: 25px;}
    #main_visual_3 p .none {display: block;}
    #main_visual_3 .mv_txt_3 span {font-size: 35px;}
    #main_visual_3 .mv_txt_3 {width: 100%;}
}

/* news_list */

#news {padding: 100px;}
#news .inner {max-width: calc(100% - 31.25%);}
#news .inner ul {text-align: center; display: flex; flex-wrap: wrap; justify-content: space-between; border: 5px solid #F5EBDF;}
#news .inner ul > li {width: 33.33%; padding: 50px;}

#news .inner ul > li:nth-of-type(1) {border-right: 5px solid #F5EBDF; border-bottom: 5px solid #F5EBDF;}
#news .inner ul > li:nth-of-type(2) {border-right: 5px solid #F5EBDF; border-bottom: 5px solid #F5EBDF;}
#news .inner ul > li:nth-of-type(3) {border-bottom: 5px solid #F5EBDF;}
#news .inner ul > li:nth-of-type(4) {border-right: 5px solid #F5EBDF;}
#news .inner ul > li:nth-of-type(5) {border-right: 5px solid #F5EBDF;}

#news .inner ul li .list_txt {width: 100%; text-transform: uppercase;}
#news .inner ul li .list_txt h4 {font-size: 25px; font-weight: 600;}
#news .inner ul li .list_txt p {font-size: 15px; line-height: 2; letter-spacing: -1.5px; text-align: justify; padding: 10px 0;}
#news .inner ul li .list_txt .date {font-size: 15px; text-align: center;}
#news .inner ul li .list_txt a {display: inline-block; padding: 5px 10px; border:2px solid #A78D6F; color: #193B0A;}
#news .inner ul li .list_txt a:hover {background: #193B0A; color: white; font-weight: 600; border: 2px solid transparent; transition: 0.5s;}

@media all and (max-width:1200px){
    #news .inner {max-width: calc(100% - 10.416%);}
    #news .inner ul li .list_txt h4 {font-size: 15px;}
    #news .inner ul li .list_txt p {font-size: 12px; line-height: 1.5; letter-spacing: -1px;}
}

@media all and (max-width:768px){
    #news {padding: 100px 0;}
    #news .inner {max-width: 100%;}
    #news .inner ul > li {width: 100%; padding: 30px 50px;}
    #news .inner ul li .list_txt h4 {font-size: 15px;}
    #news .inner ul li .list_txt p {font-size: 12px; line-height: 1.5; letter-spacing: -1px;}
    #news .inner ul > li:nth-of-type(1) {border-right: 0; border-bottom: 5px solid #F5EBDF;}
    #news .inner ul > li:nth-of-type(2) {border-right: 0; border-bottom: 5px solid #F5EBDF;}
    #news .inner ul > li:nth-of-type(3) {border-bottom: 5px solid #F5EBDF;}
    #news .inner ul > li:nth-of-type(4) {border-right: 0; border-bottom: 5px solid #F5EBDF;}
    #news .inner ul > li:nth-of-type(5) {border-right: 0; border-bottom: 5px solid #F5EBDF;}
    #news .inner ul li .list_txt a {padding: 3px 8px; font-size: 10px;}
    #news .inner ul li .list_txt .date {font-size: 12px;}
}


/* jangsoo_faq */

#main_visual_4 {background: url(../images/sub_seoul_main_bg_4.png) no-repeat; background-size: cover; height: 800px;}
#main_visual_4 .inner {height: 800px; position: relative; }
#main_visual_4 p {font-size: 40px; color: white;}
#main_visual_4 p .none {display: none;}
#main_visual_4 .mv_txt_2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
#main_visual_4 .mv_txt_2 span {font-size: 60px; color: #F5EBDF; font-weight: 600; text-transform: uppercase;}

@media all and (max-width:1200px){
    #main_visual_4 p {font-size: 30px;}
    #main_visual_4 .mv_txt_2 span {font-size: 35px;}
    #main_visual_4 .mv_txt_2 {width: 100%;}
}

@media all and (max-width:500px){
    #main_visual_4 p {font-size: 25px;}
    #main_visual_4 p .none {display: block;}
    #main_visual_4 .mv_txt_2 span {font-size: 35px;}
    #main_visual_4 .mv_txt_2 {width: 100%;}
}

#faq {padding: 100px 0;}
#faq .inner {max-width: calc(100% - 10.416%); margin: 0 auto; display: flex; justify-content: center; background: #F5EBDF; border-radius: 50px; padding: 50px 0;}
#faq .inner .drop_menu {text-align: center;}
#faq .inner .drop_menu li {font-size: 30px; font-weight: 600; width: 1000px; text-align: center; margin: 50px 0;}
#faq .inner .drop_menu li .text_area {font-size: 20px; font-weight: normal; display: none; text-align: left; background: white; padding: 30px 0;}

#faq .inner .drop_menu li h3 {display: flex; justify-content: left; margin: 0 120px; padding-bottom: 30px; align-items: center; cursor: pointer;}

#faq .inner .drop_menu li:first-child {margin: 30px 0 50px;}
#faq .inner .drop_menu li:last-child {margin: 50px 0 0;}
#faq .inner .drop_menu li h3 span {display: inline-block; padding-right: 50px; font-size: 30px; font-weight: 600;}

#faq .inner .drop_menu li .drop_menu_2  {display: flex; justify-content: left; margin: 0 120px; letter-spacing: -1.5px; align-items: center;}
#faq .inner .drop_menu li .drop_menu_2 span {display: inline-block; padding-right: 60px; padding-left: 2px; font-size: 30px; font-weight: 600;}

#faq .last_text {text-align: center; padding-top: 100px;}

@media all and (max-width:1200px){
    #faq .inner .drop_menu li {font-size: 25px;}
    #faq .inner .drop_menu li .text_area {font-size: 15px;}
}

@media all and (max-width: 768px){
    #faq .inner .drop_menu li {font-size: 15px; width: 600px; text-align: left;}
    #faq .inner .drop_menu li .text_area {font-size: 11px;}
    #faq .last_text {font-size: 15px;}
}